---
import ChargeSection from '../components/ChargeSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Electric Cars, Solar & Clean Energy | Tesla'>
  <LandingHeader />
  <main
    class='snap-y snap-mandatory relative w-full h-screen overflow-auto scroll'
  >
    <div class='snap-start'>
      <HeroSection />
    </div>
    <div class='snap-start'>
      <ChargeSection />
    </div>
    <div class='snap-start'>
      <HeroSection />
    </div>
  </main>
</Layout>
