<section
  class='landing-section justify-center bg-black h-screen w-screen text-center relative overflow-hidden'
  data-header-color='black'
>
  <div class='z-30 relative h-full flex flex-col'>
    <header class='flex flex-col'>
      <h2 class='text-black pt-40 text-[40px] font-medium'>Model Y</h2>
      <p class='text-black text-sm underline'>
        Concertar una prueba de conducción
      </p>
    </header>

    <footer class='flex flex-col flex-grow justify-end pb-20'>
      <div class='gap-x-4 flex mx-auto'>
        <a
          href='#'
          class='bg-zinc-700 border-zinc-700 text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:border-white hover:text-black transition-colors duration-500'
          >Explorar inventario</a
        >
        <a
          href='#'
          class='bg-white border-white text-sm rounded font-medium text-black px-12 py-2 hover:bg-zinc-700 hover:border-zinc-700 hover:text-white transition-colors duration-500 inline-flex items-center justify-center gap-x-2'
          >Pedido personalizado</a
        >
      </div>
    </footer>
  </div>

  <div class='absolute top-0 bottom-0 h-full w-full z-10'>
    <img
      src='./model-y.avif'
      alt='Model Y'
      class='h-full w-full object-cover object-center'
    />
  </div>
</section>
